<div class="loder" ng-show="loader">
  <img src="images/loader.gif" alt="">
</div>
<aside id="aside" class="app-aside modal fade " role="menu">
    <div class="left">
      <div class="box bg-white">
        <div class="navbar md-whiteframe-z1 no-radius blue">
            <!-- brand -->
            <a class="navbar-brand" href="#dashboard">
              
              <img src="images/logo.png" alt="." style="max-height: 36px; display:none">
              <span class="hidden-folded m-l inline">Batcave</span>
            </a>
            <!-- / brand -->
        </div>
        <div class="box-row">
          <div class="box-cell scrollable hover">
            <div class="box-inner">
              <div class="p hidden-folded blue-50" style="background-image:url(images/bg.png); background-size:cover">
                <a class="block m-t-sm">
                  <span class="block font-bold">{{username}}</span>
                  {{email}}
                </a>
              </div>
              <div id="nav">
                <nav ui-nav>
                  <ul class="nav">
                    <li>
                      <a md-ink-ripple>
                        <span class="pull-right text-muted">
                          <i class="fa fa-caret-down"></i>
                        </span>
                        <i class="icon mdi-action-settings-input-svideo i-20"></i>
                        <span class="font-normal">Dashboard</span>
                      </a>
                      <ul class="nav nav-sub">
                        <li>
                          <a md-ink-ripple href="#dashboard">Web Analytics</a>
                        </li>
                        <li>
                          <a md-ink-ripple href="#appdashboard">App Analytics</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a md-ink-ripple href="#users">
                        <i class="icon mdi-social-people i-20"></i>
                        <span class="font-normal">Users</span>
                      </a>
                    </li>
                    <li>
                      <a md-ink-ripple href="#events">
                        <i class="icon mdi-maps-local-bar i-20"></i>
                        <span class="font-normal">Events</span>
                      </a>
                    </li>
                    <li>
                      <a md-ink-ripple href="#contest">
                        <i class="icon mdi-action-extension i-20"></i>
                        <span class="font-normal">Contest</span>
                      </a>
                    </li>
                    <li>
                      <a md-ink-ripple href="#offers" class="active-menu">
                        <i class="icon fa fa-tags i-20"></i>
                        <span class="font-normal">offers</span>
                      </a>
                    </li>
                    <li>
                      <a md-ink-ripple href="#news">
                        <i class="fa fa-newspaper-o icon " aria-hidden="true"></i>
                        <span class="font-normal">News</span>
                      </a>
                    </li>
                    <li>
                      <a md-ink-ripple href="#contacts">
                        <i class="icon mdi-action-extension i-20"></i>
                        <span class="font-normal">Contacts</span>
                      </a>
                    </li>
                    <li>
                      <a md-ink-ripple href="#contactfrm">
                        <i class="icon fa-phone fa i-20"></i>
                        <span class="font-normal">Contact form</span>
                      </a>
                    </li>
                    <li>
                      <a md-ink-ripple>
                        <span class="pull-right text-muted">
                          <i class="fa fa-caret-down"></i>
                        </span>
                        <i class="icon mdi-editor-insert-drive-file i-20"></i>
                        <span class="font-normal">CRM</span>
                      </a>
                      <ul class="nav nav-sub">
                        <li>
                          <a md-ink-ripple href="#vendors">Vendor Managment</a>
                        </li>
                        <li>
                          <a md-ink-ripple href="#media">Media Managment</a>
                        </li>
                        <li>
                          <a md-ink-ripple href="#bloggers">Bloggers Managment</a>
                        </li>
                        <li>
                          <a md-ink-ripple href="#influencer">influencer Managment</a>
                        </li>
                      </ul>
                    </li>
                    
                    <li class="b-b b m-v-sm"></li>
                    <li>
                      <a md-ink-ripple ng-click="logout();">
                        <i class="icon mdi-action-exit-to-app i-20"></i>
                        <span>Logout</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </aside>
  <!-- / aside -->
  


  <!-- content -->
  <div id="content" class="app-content" role="main">
    <div class="box">
          <!-- Content Navbar -->
    <div class="navbar md-whiteframe-z1 no-radius blue">
      <!-- Open side - Naviation on mobile -->
      <a md-ink-ripple  data-toggle="modal" data-target="#aside" class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>
      <!-- / -->
      <!-- Page title - Bind to $state's title -->
      <div class="navbar-item pull-left h4">Offers</div>
     
      <div class="pull-right" ui-view="navbar@"></div>
      <!-- / -->
      <!-- Search form -->
      
      <!-- / -->
    </div>
    <!-- Content -->
  
      <div class="box-row">
        <div class="box-cell">
          <div class="box-inner padding">
            <div class="panel">
              <div class="panel-body">
                <a class="btn btn-sm btn-addon btn-info m-sm" href="#offers"><i class="fa  fa-chevron-left"></i>Back</a>
                <a class="btn btn-sm btn-addon btn-primary m-sm pull-right" ng-click="(formshow) = !(formshow)"><i class="fa fa-edit"></i>Edit</a>
                <!-- <a class="btn btn-sm btn-addon btn-success m-sm pull-right" ng-click="(tagsshow) = !(tagsshow)"><i class="fa fa-edit"></i>add tags</a> -->
                <a class="btn btn-sm btn-addon {{offerdetails.isDisabled == '0' ? 'btn-danger' : 'btn-dark'}} m-sm pull-right" ng-click='toggelactive(offerdetails.isDisabled); '><i class="fa {{offerdetails.isDisabled== '0' ? 'fa-close' : 'fa-rocket'}}"></i>{{offerdetails.isDisabled == '0' ? 'close' : 'active'}}</a>
              </div>
            </div>
            <div class="panel" ng-show="formshow">
              <div class="panel-heading">
                <strong>Edit Offer</strong>
              </div>
              <div style="padding: 30px;">
                <form action="" class="form-horizontal" >
                  <div class="row">
                    <div class="col-md-12">
                      <!-- Title -->
                      <div class="row">
                        <h4 class="grey-text">Editing offer</h4>
                        <div class="col-md-6">
                        <div class="form-group">
                          <div class="col-md-12">
                            <label for="">Type</label>
                          </div>
                          <div class="col-md-12">
                            <input type="text" class="form-control" value="Offer" disabled="true">
                          </div>
                          
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="col-md-12">
                            <label for="">Sub Type</label>
                          </div>
                          <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="offerdetails.subType" disabled="true">
                            <!-- <select name="" id="" class="form-control" ng-model="offerdetails.subtype">
                              <option value="single">Single Code</option>
                              <option value="unique">Unique Code</option>
                            </select> -->
                          </div>
                        </div>
                      </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="" class="grey-text">Title * <strong>({{60-offerdetails.title.length}})</strong></label>
                            </div>
                            <div class="col-md-12">
                              <input type="text" class="form-control" ng-model="offerdetails.title" placeholder="40% off at Instapizza" maxlength="60">
                            </div>
                            <div class="col-md-12">
                              <small class="text-grey-dark">Name of the offer, will be used as heading.</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end title -->
                      <hr>
                      
                      
                      <!-- card design start -->
                      <div class="row">
                        <h4 class="grey-text">Design the Card </h4>
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="" class="grey-text">Card Image</label>
                            </div>
                            <div class="col-md-12">
                              <div id="direct_upload" 
                                ngf-drop="uploadFiles2($files)"
                                ngf-drag-over-class="dragOverClass($event)"
                                ng-model="files2"
                                ng-multiple="false">
                                <div class="col-md-12">
                                  <form>  
                                    <div class="form_line">
                                        <!-- <label>Image:</label> -->
                                        <div class="form_controls">
                                            <div class="upload_button_holder" style="text-align: center; border: 1px dotted #9e9e9e;padding: 20px;">
                                                <div href="#" class="upload_button btn btn-fw btn-primary" ngf-select="uploadFiles2($files)" title="upload" resetOnClick="true" ngf-dimensions="$width == 480 && $height == 300" >Upload</div>
                                            </div>
                                        </div>
                                    </div>
                                  </form>
                                </div>
                                <div class="col-md-12" style="padding: 10px">
                                  <div class="file" ng-repeat="file in files2">
                                    <div class="col-md-6">
                                      <p class="grey-text">{{file.name}} {{f.$error}} {{f.$errorParam}}</p>
                                      <div class="status">{{file.status}}</div>
                                      
                                      <div class="progress-bar">
                                        <div class="progress grey-text" style="width: {{file.progress}}%" ng-init="progress=0"></div>
                                      </div>
                                      <p>{{store2.cardcover}}</p>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form_line">
                                          <div class="form_controls">
                                              <div class="preview">
                                                  <img ngf-src="file.result.url || file" style="width: 80%;">
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div> 

                              </div>
                            </div>
                            <div class="col-md-12">
                              <small class="text-grey-dark">Offer Card Creative (image size : 480 X 300)</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="" class="grey-text">Card button Title * <strong>({{16-offerdetails.cardActionButtonText.length}})</strong></label>
                            </div>
                            <div class="col-md-12">
                              <input type="text" class="form-control" ng-model="offerdetails.cardActionButtonText" maxlength="16">
                            </div>
                            <div class="col-md-12">
                              <small class="text-grey-dark">text on the button on card (will show on web only)</small>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="" class="grey-text">Start Date *</label>
                            </div>
                            <div class="col-md-12">
                              <input type="text" class="form-control" placeholder="yyyy-mm-dd" ng-model="offerdetails.startDate" ui-mask="9999-99-99" model-view-value="true">
                            </div>
                            
                            <div class="col-md-12">
                              <small class="text-grey-dark">Offer card will show on store between these dates</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="" class="grey-text">End Date *</label>
                            </div>
                            <div class="col-md-12">
                              <input type="text" class="form-control" placeholder="yyyy-mm-dd" ng-model="offerdetails.endDate" ui-mask="9999-99-99" model-view-value="true">
                            </div>
                            <div class="col-md-12">
                              <small class="text-grey-dark">Offer card will show on store between these dates</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="" class="grey-text">Card Description *<span><strong>limit 60 char.  ({{60-offerdetails.shortDescription.length}})</strong></span></label>
                            </div>
                            <div class="col-md-12">
                              <!-- <trix-editor angular-trix class="trix-content" style="background-color: #fff; height: 80px;" ng-maxlength="60" ng-model="store.shortdesc"></trix-editor> -->
                              <textarea id="" cols="30" rows="2" class="form-control" maxlength="60" ng-model="offerdetails.shortDescription" ></textarea>
                            </div>
                            <div class="col-md-12">
                              <small class="text-grey-dark">Short description to be displayed on the card.</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- card design end -->

                      <hr>
                      
                      <!-- body design start -->
                      <div class="row">
                        <h4 class="grey-text">Design the Body </h4>
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="" class="grey-text">Cover Image</label>
                            </div>
                            <div class="col-md-12">
                              <div id="direct_upload" 
                                ngf-drop="uploadFiles($files)"
                                ngf-drag-over-class="dragOverClass($event)"
                                ng-model="files"
                                ng-multiple="fasle">
                                <div class="col-md-12">
                                  <form>  
                                    <div class="form_line">
                                        <!-- <label>Image:</label> -->
                                        <div class="form_controls">
                                            <div class="upload_button_holder" style="text-align: center; border: 1px dotted #9e9e9e;padding: 20px;">
                                                <div href="#" class="upload_button btn btn-fw btn-primary" ngf-select="uploadFiles($files)" title="upload" resetOnClick="true" ngf-dimensions="$width == 750 && $height == 278">Upload</div>
                                            </div>
                                        </div>
                                    </div>
                                  </form>
                                </div>
                                <div class="col-md-12" style="padding: 10px">
                                  <div class="file" ng-repeat="file in files">
                                    <div class="col-md-6">
                                      <p class="grey-text">{{file.name}} {{f.$error}} {{f.$errorParam}}</p>
                                      <div class="status">{{file.status}}</div>
                                      
                                      <div class="progress-bar">
                                        <div class="progress grey-text" style="width: {{file.progress}}%" ng-init="progress=0"></div>
                                      </div>
                                      <p>{{store2.cover}}</p>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form_line">
                                          <div class="form_controls">
                                              <div class="preview">
                                                  <img ngf-src="file.result.url || file" style="width: 80%;">
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div> 
                              </div>
                            </div>
                            <div class="col-md-12">
                              <small class="text-grey-dark">Offer Details Page Creative (image size : 750 X 278)</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="" class="grey-text">City * <strong>({{16-offerdetails.cityText.length}})</strong></label>
                            </div>
                            <div class="col-md-12">
                              <input type="text" class="form-control" ng-model="offerdetails.cityText" maxlength="16">
                            </div>
                            <div class="col-md-12">
                              <small class="text-grey-dark">City text for display purpose only, it will be displayed as you type it here.</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="" class="grey-text">call to action button * <strong>({{16-offerdetails.actionButtonText.length}})</strong></label>
                            </div>
                            <div class="col-md-12">
                              <input type="text" class="form-control" ng-model="offerdetails.actionButtonText" maxlength="16">
                            </div>
                            <div class="col-md-12">
                              <small class="text-grey-dark">text on the call to action button.</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="" class="grey-text">ThankYou message * <strong>({{60-offerdetails.thankYouText.length}})</strong></label>
                            </div>
                            <div class="col-md-12">
                              <input type="text" class="form-control" ng-model="offerdetails.thankYouText" maxlength="60">
                            </div>
                            <div class="col-md-12">
                              <small class="text-grey-dark">this text will be displayed if the offer is successfully redeemed.</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="" class="grey-text">long Description *<span><strong>limit 300 char. ({{offerdetails.description.length}})</strong></span></label>
                            </div>
                            <div class="col-md-12">
                              <!-- <trix-editor angular-trix class="trix-content" style="background-color: #fff; height: 80px; overflow:auto" ng-maxlength="140" ng-model="offerdetails.description"></trix-editor> -->
                              <textarea name="" id="" cols="30" rows="3" class="form-control" ng-model="offerdetails.description"></textarea>
                            </div>
                            <div class="col-md-12">
                              <small class="text-grey-dark">detailed discription of offer</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- body design end -->


                      <div class="row">
                        <div class="col-md-12">
                          <button md-ink-ripple class="btn btn-fw btn-success right" ng-click="editoffer();" type="button">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              </div>   
            </div>

            <div class="panel panel-card col-xs-12 col-sm-12 col-md-12 p" ng-show="tagsshow">
              <div class="col-md-12 col-sm-12">
                <h5>Add Tags to offer</h5>
              </div>
              <div class="col-md-12 col-sm-12">
                <!-- <md-chips collection='itemsCollection' ng-model='selectedtags' md-title='title' md-thumbnail='thumbnailUrl' md-subtitle='subtitle' disabled='false' unique='true' style=""/> -->
                <input type="text" class="form-control">
              </div>
              <div class="col-sm-12">
              <button class="btn btn-sm btn-addon btn-info m-sm pull-right" ng-click="savetags()">Add Tag</button>
              
              </div>
              <div class="col-sm-12">
                {{selectedtags.title}}
              </div>
            </div>
           <!--  <div class="panel">
              graph
            </div> -->
            
            <div class="panel">
              <div class="panel-heading">
                <h4>{{offerdetails.title}} <span class="right">Valid till : {{offerdetails.validTill}}</span></h4>
              </div>
              <div class="row p">
                <div class="col-md-6">
                  <h5>Offer Type : {{offerdetails.subType}}</h5>
                </div>
                <div class="col-md-6">
                  <h5>Cost Type : {{offerdetails.costType}}</h5>
                </div>
                <div class="col-md-6">
                  <h5>Cost  : {{offerdetails.costPoints}}</h5>
                </div>
                <div class="col-md-6">
                  <h5>Coupon code : {{offerdetails.couponCode}}</h5>
                </div>
                <div class="col-md-6">
                  <h5>Total coupons available : {{offerdetails.totalQuantity}}</h5>
                </div>
                 <div class="col-md-6">
                  <h5>coupons left : {{offerdetails.availableQuantity}}</h5>
                </div>
                <div class="col-md-6">
                  <h5>Redemption url : {{offerdetails.redemptionUrl}}</h5>
                </div>
                <div class="col-md-6">
                  <h5>Redemption phone number : {{offerdetails.redemptionPhone}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <form class="form-inline">
                        <div class="res">
                          <p>Showing {{filtered.length}} Results</p>
                        </div>
                        <div class="form-group" id="search">
                            <input type="text" ng-model="search" class="form-control" placeholder="Search" >
                        </div>
                    </form>
                    <table class="table table-hover b-t b-b bordert">
                      <thead>
                        <tr >
                          <!-- <th></th> -->
                          <th>#</th>
                          <th >Name</th>
                          <th>redeem via</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr ng-repeat="contest in filtered = (contest.data.result.data | filter:search) " ng-click=""> -->
                        <tr>
                          <!-- <td><span class="online  sttt"></span></td> -->
                          <td><!-- {{ $index +1 }} -->1</td>
                          <td><!-- {{ contest.name }} -->user name</td>
                          <td><!-- {{ contest.start_date }} -->points</td>
                          <td><a md-ink-ripple class="btn btn-sm btn-fw btn-dark" href="#user/1200">Details</a></td>
                        </tr>
                      </tbody>
                      
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / content