.table-responsive{
	padding: 20px !important;
	width: 100%;
    height: 500px;
    overflow: auto;
}
.table-responsive::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
.table-responsive::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.table-responsive::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#search{
	float: right !important;
	margin: 5px !important;
}
.bordert{
	border: 1px solid #1c1c1c !important;
}
.pagination-div{
	margin: 5px 20px !important;
}
.pagination{
	margin: 10px 0 !important;
}
.res{
	width: auto !important;
	float: left;
}
.res p{
	width: auto !important;
}
.active-menu{
	background-color: #eceff1;
	color: #0d47a1;
}
.hide{
	display: none !important;
}
span.upload {
    width: 100px;
    height: 34px;
    background: #fff;
    overflow: hidden;
}

span.upload input {
    display: block !important;
    width: 100px !important;
    height: 25px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.totuser{
background-color: #3c3c3c!important;
color: #fff !important;
}
.googleana{
background-color: #ea4335 !important;
color: #fff !important;
}
.mailchimpd{
background-color: #febe12 !important;
color: #fff !important;
}
.twitterd{
background-color: #55acee !important;
color: #fff !important;
}
.instad{
background-color: #3f729b !important;
color: #fff !important;
}
.facebookd{
background-color: #3b5998 !important;	
color: #fff !important;
}
.chart, .chart-line, #line{
	color: #fff !important;
}
.font-size-big{
	font-size: 1.2em;
}
.right{
	float: right;
}
.selct-city-user{
	font-size: 18px;
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.csv{
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 36px;
	z-index: 9999999;
	width: 60px !important;
	height: 60px !important;
	line-height: 60px !important;
}
.toggle{
	display: block;
	margin: 10px 24px;
    border-bottom: 1px solid #d8d4d4;
    border-top: 1px solid #d8d4d4;
    padding: 15px 0;
}

.loder{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,1);
}
.loder img{
	width: 150px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.model{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	
}
.modelcontainer{
	max-width: 700px;
	width: 100%;
	height: auto;
	background-color: #3c3c3c;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.mail{
	position: fixed;
	right: 0;
	bottom: 75px;
	margin: 36px;
	z-index: 9999999;
	width: 60px !important;
	height: 60px !important;
	font-size: 20px;
}

.online{
	background-color: green;
}

.offline{
	background-color: #ee0404;
}

.sttt{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: block;
	margin: 5px;
}


/* Some of these styles you can override, things like colors,
 * however some styles are required for the structure, and are critical to this module behaving properly!
 */

/* Core component styles */
.ng-image-crop {
  text-align: center;
  margin: 0 auto;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* Each of the 3 steps in the process are contained within sections */
.ng-image-crop > section {
  background: #ccc;
}
/* The cropping button */
.ng-image-crop button {
  margin-top: 10px;
}
/* The dashed cropping guideline */
.ng-image-crop .cropping-guide {
  display: block;
  background: rgba(255, 255, 255, .3);
  border: 2px dashed white;
  position: absolute;
  pointer-events: none;
}
/* The circular themed cropping guideline */
.ng-image-crop--circle .cropping-guide {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* The canvas where the user positions the image via dragging and zooming */
.ng-image-crop .cropping-canvas {
  background: rgba(255, 255, 255, .3);
  margin: 0 auto;
  cursor: move;
  position: absolute;
    top: 0;
    left: 0;
}
/* The overlayed draggable zoom handle in the corner of the module */
.ng-image-crop .zoom-handle {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 1px;
  background: rgba(255,255,255,0.9);
  width: 80px;
  height: 80px;
  cursor: move;
  border-radius: 200px 50px;
}
/* The text within the zoom handle */
.ng-image-crop .zoom-handle > span {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: block;
  position: relative;
  top: 32px;
}
.addprvlg{
	position: fixed;
	bottom: 20px; 
	right: 20px;
}

