.table-responsive{
	margin: 20px !important;
}
#search{
	float: right !important;
	margin: 5px !important;
}
.bordert{
	border: 1px solid #1c1c1c !important;
}
.pagination-div{
	margin: 5px 20px !important;
}
.pagination{
	margin: 10px 0 !important;
}
.res{
	width: auto !important;
	float: left;
}
.res p{
	width: auto !important;
}
.active-menu{
	background-color: #eceff1;
	color: #0d47a1;
}
.hide{
	display: none !important;
}
span.upload {
    width: 100px;
    height: 34px;
    background: #fff;
    overflow: hidden;
}

span.upload input {
    display: block !important;
    width: 100px !important;
    height: 25px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.totuser{
background-color: #3c3c3c!important;
color: #fff !important;
}
.googleana{
background-color: #ea4335 !important;
color: #fff !important;
}
.mailchimpd{
background-color: #febe12 !important;
color: #fff !important;
}
.twitterd{
background-color: #55acee !important;
color: #fff !important;
}
.instad{
background-color: #3f729b !important;
color: #fff !important;
}
.facebookd{
background-color: #3b5998 !important;	
color: #fff !important;
}
.chart, .chart-line, #line{
	color: #fff !important;
}
.font-size-big{
	font-size: 25px;
}
.right{
	float: right;
}
.selct-city-user{
	font-size: 18px;
	margin-left: 50%;
	-webkit-transform: translateX(-240px);
	-ms-transform: translateX(-240px);
	-o-transform: translateX(-240px);
	transform: translateX(-240px);
}
.csv{
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 36px;
	z-index: 9999999;
	width: 60px !important;
	height: 60px !important;
	line-height: 60px !important;
}
.toggle{
	display: block;
	margin: 10px 24px;
    border-bottom: 1px solid #d8d4d4;
    border-top: 1px solid #d8d4d4;
    padding: 15px 0;
}

.loder{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}
.loder img{
	width: 150px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}